body {
    background-color: #58595B;
}
.container {
    height: 1000px;
    background-color: white;
    background-image:
    linear-gradient(
    to right,
    #58595B,
    #58595B 15%,
    #ffffff 15%,
    #ffffff 85%,
    #58595B 85%
    );
}
input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    font-size: 15px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
}
.deg{
    text-align: center;
}
form {
    font-size: 20px;
    color: #58595B;
    text-align:center;
    width: 550px;
    height: 350px;
    border: 2px solid #58595B;
    padding: 10px 0;
    margin: 50px auto;
}
hr {
    display: block;
    height: 1 px;
    border: 0;
    border-top: 9px solid #FF8200;
}
