html {height: 100%;}

body {
    display: flex;
    height:100%;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #FF8202;
    margin: 0px;
    height: 110px;
    padding: 0px;
}
#special{
    padding-top: 10px;
    width=100%;
    background-color: #FF8202;
    margin: 0px;
    height: 110px;
}
.pro{
    flex: 1 auto;
    flex-grow: 1;
    background : url("bkg.jpg");
    background-position:right bottom;
    background-repeat: no-repeat;
}

.top{
    position:absolute;

}

footer {
    
    flex-shrink: 0;
    width: 100%;
    height = 100px;
    background: #8B8C90;
    border-top: solid;
    border-color: #FF8202;
    border-width: 5px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form {
    font-size: 20px;
    color: #58595B;
    text-align: center;
    width: 90%;
    height: auto;
    border: 2px solid #58595B;
    margin: 10px auto;
}
input[type=submit]{
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow:inset 0px 39px 0px -24px #FF8202;
    box-shadow:inset 0px 39px 0px -24px #FF8202;
    background-color:#FF8202;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:2px solid #ffffff;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:8px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.add{
    font-size: 15px;
    font-family: georgian;
}
.pro{
    font-size: 20px;
    color: #58595B;
    text-align: left;
    width: 90%;
    height: auto;
    margin: 10px auto;
    
}

td {
	text-align:center;
	vertical-align: center;
}

table{
	border-collapse: collapse;
	width: 100%;
}

th {
    text-align: center;
    padding: 9px;
}

tr:nth-child(even){background-color: #f0ede3}

#addCourse{
    border:2px solid #ffffff;
    cursor:pointer;
    color:#ffffff;
    background-color:#FF8202;
    font-family:Arial;
    font-size:15px;
    padding:8px 18px
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

    

